<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/create.css">
</head>
<body>
<div class="form-container">
    <h2>회원수정</h2>
    <form action="/update2" method="post">
        <label for="id">아이디</label>
        <input type="text" id="id" name="id" placeholder="아이디 입력" required>

        <label for="tel">전화번호</label>
        <input type="tel" id="tel" name="tel" placeholder="전화번호 입력" required>

        <button type="submit">수정하기</button>
    </form>
</div>
</body>
</html>
